<h1>Edit post</h1>
<form action="/posts/:id?_method=put" method="post">

    <input name="post[title]" placeholder="Title" >
    <input name="post[blog]" placeholder="Write your post here" >
    <input type="submit" value="Save">
</form>